.contactContainer {
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
}
.sectionTitle {
    font-size: 3vw;
    font-weight: 700;
    background: linear-gradient(92deg, #00A3FF 23.7%, #00FFF0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    width: fit-content;
}

.underline {
    margin-top: 5%;
    margin-bottom: 3%;
    width: 75%;
    height: 2px;
    background: linear-gradient(92deg, #00A3FF 23.7%, #00FFF0 100%);
}