.main{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    background-color: #00A4FF;
    position: relative;
    overflow: hidden;
}
.leftSide {
    background-color: rgba(0,0,0,.7); 
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-top: none;
    border-right: none;
}
.introduction {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    left: 5%;
    z-index: 1;
}
.salute{
    font-size: 2vw;
    color: #AFAFAF;
    font-family: 'Montserrat';
    font-weight: 400;
}
.work {
    font-size: 2vw;
    font-family: 'Montserrat';
    font-weight: 500;
}
.name {
    background: linear-gradient(92deg, #00A3FF 23.7%, #00FFF0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 4vw;
    font-weight: 500;
    width: fit-content;
    font-family: 'ArialBold';
}
.stack {
    font-size: 1.1vw;
    margin-top: 1%;
    color: #AFAFAF;
    font-family: 'Montserrat';
    font-weight: 700;
}
.wrapper {
    background: linear-gradient(92deg, #00A3FF 23.7%, #00FFF0 100%);
    width: fit-content;
    padding: 2px;
    position: relative;
    margin-top: 5%;
}
.contactBtn {
    border: none;
    background-color: #0F1525;
}
.contactBtnText {
    background: linear-gradient(92deg, #00A3FF 23.7%, #00FFF0 100%);
    display: block;
    background-clip: text;
    color: transparent;
    padding: 10px 25px 10px 25px;
    font-size: 12px;
    -webkit-background-clip: text;
}
.imageContainer {
    margin-top: 55px;
    /* position: static; */
    width: 70%;
    aspect-ratio: 1/1;
}
.image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.aboutSection {
    width: 100%;
    overflow: hidden;
    background-color: #0F1525;
}