.container {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color: #0F1525;
}
.header{
    width: 40%;
    display: 'flex';
    padding: 2%;
    position: absolute;
    z-index: 2;
    right: 5%;
}

.tabs {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.activeClass:link, .activeClass:visited {
    color: white
}
.inactiveClass:link, .activeClass:visited {
    color: white
}
.inactiveContact:link {
    color: #010047;
    background-color: white;
    padding: 10px 15px 10px 15px ;
    font-size: 14px;
    border-radius: 20px;
    font-weight: 700;
}