.stackContainer {
    background-color: #3C4A72;
    position: relative;
    padding: 3% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper {
    background: linear-gradient(92deg, #00A3FF 23.7%, #00FFF0 100%);
    width: fit-content;
    padding: 2px;
    position: relative;
}
.stackBack {
    background-color: #3C4A72;
}
.stackTitle{
    background: linear-gradient(92deg, #00A3FF 23.7%, #00FFF0 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 10px 35px 10px 35px;
    font-size: 12px;
}
.stacks {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: 100%;
    row-gap: 30px;
    column-gap: 10px;
    justify-content: space-evenly;
    margin-top: 10%;
    margin-bottom: 10%;
}
.stackImage {
    width: 5vw;
    height: 5vw;
}
.scrollHidden::-webkit-scrollbar {
    display: none;
  }
  
  /* For IE, Edge and Firefox */
  .scrollbarHidden {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  